.container{
  background-color: rgb(17, 56, 69);
  position: relative;
  top: 0;
  overflow: hidden;
}

.btn{
  border-radius: 0.4rem;
  border-style: none;
  background-color: transparent;
  color: inherit;
  font-size: large;
  margin-left: -1rem;
}

.nav{
  position: absolute;
  top: 100%;
  right: 0;
  transform: translateX(100%);
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
}

.nav_container{
  margin-left: auto;
  text-align: left;
  background-color: whitesmoke;
  color: black;
  width: 70%;
  margin-bottom: 0;
}

@media (min-width: 420px){
  .nav_container{
    width: 30%;
  }

  .brand{
    font-size: medium;
  }
}

.login_link{
  text-decoration: none;
}

.login_link:hover{
  text-decoration: none;
}

.shop_items{
  background-color: rgb(8, 64, 134);
  display: inline-block;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 5px;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  color: whitesmoke;
  font-size: small;
}

.brand{
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: x-small;
  color: rgb(103, 103, 103);
}